[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "vendor/claude-seo"]
	path = vendor/claude-seo
	url = https://github.com/AgriciDaniel/claude-seo.git
